body{
    font-family:Arial, sans-serif;
    margin:0;
    background:#f4f6f8;
    color:#222;
}

/* HEADER */

header{
    background:#1f2937;
    color:white;
    padding:40px 20px;
    text-align:center;
}

.profile{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid white;
    box-shadow:0 6px 15px rgba(0,0,0,0.3);
    margin-bottom:15px;
}

/* NAV */

nav{
    background:#374151;
    padding:12px;
    text-align:center;
}

nav a{
    color:white;
    margin:15px;
    text-decoration:none;
    font-weight:bold;
}

/* SECTIONS */

section{
    padding:40px;
    max-width:900px;
    margin:auto;
}

/* CARDS */

.card{
    background:white;
    padding:25px;
    margin:20px 0;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    line-height:1.6;
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

/* SKILLS */

.skills{
    list-style:none;
    padding:0;
}

.skills li{
    display:inline-block;
    background:#e5e7eb;
    margin:6px;
    padding:10px 16px;
    border-radius:8px;
}

/* FOOTER */

footer{
    background:#1f2937;
    color:white;
    text-align:center;
    padding:20px;
}
