body{
    font-family: Arial;
    margin:0;
    background:#f4f6f8;
}

header{
    background:#222;
    color:white;
    padding:40px;
    text-align:center;
}

nav{
    background:#444;
    padding:12px;
    text-align:center;
}

nav a{
    color:white;
    margin:15px;
    text-decoration:none;
    font-weight:bold;
}

section{
    padding:40px;
    max-width:900px;
    margin:auto;
}

.card{
    background:white;
    padding:20px;
    margin:15px 0;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}

